{% extends "network/layout.html" %}

{% block body %}

<div id="compose_post" class="w-100 p-3 text-light border border-secondary border-opacity-75 rounded-3 form-floating collapse collapse-horizontal">
    <form action="{% url 'network:index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea class="form-control text-bg-dark border-0" name="text" id="floatingTextarea" style="height: 20vh;"></textarea>
        <hr class="w-100">
        <div id="img_thumb" class="d-flex"></div>
        <span class="d-grid gap-2 d-md-flex justify-content-md-end">
            <label for="inputGroupFile01" class="input-group-text custom-file-upload text-bg-dark border-0 p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16" style="cursor: pointer;">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
                </svg>
            </label>
            <input type="file" class="form-control" id="inputGroupFile01" name="image" style="display: none;" multiple accept=".jpg,.jpeg,.png">
            <button id="postSubmit" class="btn btn-primary disabled p-2" type="submit">Post</button>
        </span>
    </form>
</div>

{% endblock %}