{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="{% static 'network/css/styles.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock %}
        <script src="static/network/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </head>
        <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="bootstrap" viewBox="0 0 118 94">
              <title>Bootstrap</title>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
            </symbol>
            <symbol id="home" viewBox="0 0 16 16">
              <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
            </symbol>
            <symbol id="Explore" viewBox="0 0 16 16">
                <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
            </symbol>            
            <symbol id="Notifications" viewBox="0 0 16 16">
                <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1z"/>
                <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            </symbol>            
            <symbol id="people-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </symbol>
            <symbol id="Messages" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
            </symbol>
            <symbol id="Register" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.5 4.002h3.11c1.71 0 2.741.973 2.741 2.46 0 1.138-.667 1.94-1.495 2.24L11.5 12H9.98L8.52 8.924H6.836V12H5.5zm1.335 1.09v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417z"/>
            </symbol>
            
            <symbol id="Signin" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </symbol>            
        </svg>
        <div class="d-flex justify-content-center" style="height: 100vh;">
        <main class="d-flex flex-nowrap">
        <h1 class="visually-hidden">Network</h1>
        <div class="d-flex flex-column flex-shrink-0 p-4 text-bg-dark " style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi pe-none me-2" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15"/>
            </svg>
            <span class="fs-4">Network</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto py-1 pe-1">
            <li class="nav-item pt-2">
                <a href="#" class="nav-link active fs-5" aria-current="page">
                <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#home"/></svg>
                &nbsp
                Home
                </a>
            </li>
            <li class="pt-2">
                <a href="#" class="nav-link text-white fs-5">
                <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#Explore"/></svg>
                &nbsp
                Explore
                </a>
            </li>
            {% if not user.is_authenticated %}
            <li class="pt-2">
                <a href="{% url 'core:login' %}" class="nav-link text-white fs-5">
                <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#Signin"/></svg>
                &nbsp
                Sign In
                </a>
            </li>
            <li class="pt-2">
                <a href="{% url 'core:register' %}" class="nav-link text-white fs-5">
                <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#Register"/></svg>
                &nbsp
                Register
                </a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="pt-2">
                <a href="#" class="nav-link text-white fs-5 ">
                <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#Notifications"/>
                </svg>
                &nbsp
                <span class="position-relative">Notifications</span>
                <span class="position-absolute translate-middle p-2 bg-danger rounded-circle scaled-badge">
                </span>
                </a>
            </li>
            <li class="pt-2">
                <a href="#" class="nav-link text-white fs-5">
                <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#Messages"/></svg>
                &nbsp
                Messages
                </a>
            </li>
            <li class="pt-2">
                <a href="#" class="nav-link text-white fs-5">
                <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#people-circle"/></svg>
                &nbsp
                Profile
                </a>
            </li>
            </ul>
            <a class="btn btn-primary rounded-5 w-100 fs-4 mb-3" data-bs-toggle="collapse" href="#compose_post" role="button" aria-expanded="false" aria-controls="compose_post">
                Post
            </a>
            <hr>
            <div class="dropdown ">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ user.custom_name }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow-lg ">
                <li><a class="dropdown-item" href="{% url 'core:logout' %}">Sign out @{{ user.username }}</a></li>
                <li><hr class="dropdown-divider"></li>
            </ul>
            </div>
            {% endif %}
        </div>

        </main>
        <span class="border border-light border-end border-start border-opacity-10 rounded-3 position-relative" style="width: 30%; height: 100vh; ">
            <div class="inner-content text-white d-flex justify-content-center flex-column">
                {% block body %}
                {% endblock %}
            </div>
            <!-- <div class="position-absolute bottom-0 start-50 translate-middle">
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link bg-dark border-0 text-white">Previous</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link bg-dark border-0 text-white" href="#">1</a>
                </li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link bg-dark border-1 text-white" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link bg-dark border-0 text-white" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link bg-dark border-0 text-white" href="#">Next</a>
                  </li>
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#compose_post" aria-expanded="false" aria-controls="compose_post">Post</button>
                </ul>
              </nav>
            </div> -->
        </span>
    </div>
    </body>
    
</html>