{% extends "auctions/layout.html" %}

{% block title %}Bidding{% endblock %}


{% block body %}
<div class="item_set">
    <div class="item_images">
        {% for image in images %}
            <img src="{{ MEDIA_URL }}items/{{ item_number }}/{{ image }}" alt="images">
        {% endfor %}
        <img src="{{ auction.image_url }}" style="max-width: 300px; max-height: 350px;">
    </div>
    <div>
        <h3>Category</h3>
            {{ auction.category }}
    </div>
    <div>
        <h4>Title</h4>
        {{ auction.title }}
    </div>
    <div>
        <h4>Description</h4>
        {{ auction.short_description }}
    </div>
    <div>
        <h4>Details</h4>
        {{ auction.detail }}
    </div>
    <div>
        <h4>Starting price</h4>
        {{ auction.price }}
    </div>
    <div><h4>Current Price</h4></div>
        {{ current_price }}
    </div>
    <div>
        {{ auction.end_time }}
    </div>
    {% if user.is_authenticated %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ bidform.as_p }}           
            <button type="submit">Place a bid!</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ commentform.as_p }} 
            <button type="submit">Submit</button>
        </form>
    </div>
    {% endif %}
    <div>
        <h4>Bidding</h4>
        {% for obj in biddings %} 
        
        {{ obj.user }}        
        {{ obj.bid}} 
        
        {% endfor %}
    </div>
    <div>
        <h4>Comment</h4>
        {% for obj in comments %} 
        
        {{ obj.user }}        
        {{ obj.comment }} 
        
        {% endfor %}
     
    </div>
    {% if user.is_authenticated %}
    <div>
    <form action="{% url 'auctions:watchlist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_number" value="{{ item_number }}">
        {% if item_in_watchlist %}
            <button type="submit">Remove from my watchlist</button>
        {% else %}
            <button type="submit">Add to my watchlist</button>
        {% endif %}
    </form>
</div>
    {% endif %}
</div>

    
</div>
{% endblock %}