{% extends "auctions/layout.html" %}

{% block title %}Auctions{% endblock %}


{% block body %}
<h2>Categories</h2>
{% for category, items in category_items.items %}
    <a href="{% url 'auctions:sublist' category=category %}">{{ category }}</a>
    <ul>
        {% for item in items %}
        <a href="{% url 'auctions:bidding' item.item_number %}" style="text-decoration: none">
            <img src="{{ MEDIA_URL }}/{{ item.image_path }}" alt="Auction Image" style="cursor: pointer" target="_blank">
        </a>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
