{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'auctions/css/style.css' %}" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header-container"><img src="{% static 'auctions/img/Header.png' %}" alt="Header Image">
        </div>
        <hr>
        <div class="sidebar">
            <a href="{% url 'auctions:index' %}">Home</a>
            <div class="category">
                <a href="{% url 'auctions:category' %}">Category</a>
                    <div class="subcategory">
                    <a href="{% url 'auctions:sublist' category='fashion' %}">Fashion</a>
                    <a href="{% url 'auctions:sublist' category='electronics' %}">Electronics</a>
                    <a href="{% url 'auctions:sublist' category='accessories' %}">Accessories</a>
                    <a href="{% url 'auctions:sublist' category='toy' %}">Toy</a>
                    <a href="{% url 'auctions:sublist' category='furniture' %}">Furniture</a>
                    <a href="{% url 'auctions:sublist' category='others' %}">Others</a>
                    </div>
            </div>                
            {% if user.is_authenticated %}
            <a href="{% url 'auctions:watchlist' %}">Watchlist</a>
            <a href="{% url 'auctions:myauction' %}">MyAuction</a>
            <a id="sell" href="{% url 'auctions:sell' %}">Sell!</a>
            {% endif %}
        </div>
        <div class ="login">
            {% if not user.is_authenticated %}
            <a href="{% url 'core:register' %}">Register</a>
            <a href="{% url 'core:login' %}">Login</a>
            {% endif %}
            <a href="{% url 'core:logout' %}">Logout</a>
        </div>
            {% if user.is_authenticated %}
        <div class ="userinfo">
            {{ user.username }}
            <p>Welcome, {{ user.first_name }}</p>
        </div>
            {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>