{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sentbox</button>
    <button class="btn btn-sm btn-info" id="archived">Archived</button>
    <a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Log Out</a>
    <hr>


    
    <div id="emails-view">
    </div>
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control" name="recipients" autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" id="compose_submit" class="btn btn-primary"/>
        </form>
    </div>

    <dl id="mail_content" class="row">
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9"></dd>
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9">
            <p></p>
            <p></p>
        </dd>
    </dl>

    <div id="reply-form" class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
    <label for="exampleFormControlTextarea1" class="form-label"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
    <input type="submit" id="reply_submit" class="btn btn-primary"/>
    </div>

    <div id="mailbox_content" class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"></h5>
        <small></small>
        <p class="mb-1"><span type="button" class="btn btn-primary" data-bs-toggle="button"></span></p>
        <small></small>
        <span class="badge bg-primary rounded-pill">
        </span>
        </a>
    </div>

    
    
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}